# Импорт библиотек

In [1]:
from sklearn import tree

In [2]:
import pandas as pd

# Данные

In [3]:
data = pd.read_csv('C:/Users/asynk/Desktop/Data/iris.csv')

In [4]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

Заменяем значения в столбце: variety.

In [5]:
data['variety'] = data['variety'].apply(lambda data: 1 if data == 'Setosa' else (2 if data == 'Versicolor' else 3))

In [6]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2        1
1           4.9          3.0           1.4          0.2        1
2           4.7          3.2           1.3          0.2        1
3           4.6          3.1           1.5          0.2        1
4           5.0          3.6           1.4          0.2        1

Разделяем данные на входные и выходные.

In [7]:
x = data.drop(['variety'], axis = 1)

In [8]:
y = data['variety']

Импорт библиотеки train_test_split

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [11]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: variety, dtype: int64

Разделение на обучающие и тестовые данные

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=1)

# Тренировка нейронной сети

In [13]:
clf = tree.DecisionTreeClassifier(max_depth=2)

In [14]:
clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

# Тестирование нейронной сети

Импорт библиотек.

In [15]:
from sklearn.metrics import accuracy_score

С помощью accuracy_score, создаем переменную val_acc, в которой хранится точность нейронной сети на тестовых данных.

In [16]:
val_acc = accuracy_score(y_test, clf.predict(x_test))

Выводим переменную val_acc

In [17]:
print('Точность равна:', val_acc)

Точность равна: 0.96

# Бот с нейронной сетью

In [18]:
import vk_api

In [19]:
token = 'наш токен'

In [20]:
vk=vk_api.VkApi(token=token)

In [21]:
vk._auth_token()

In [22]:
data = {
    'offset':0,
    'count':20,
    'filter':'unanswered'
}

In [ ]:
while True:
    messages = vk.method('messages.getConversations', data)
    if messages['count']>=1:
        print(messages)
        id = messages['items'][0]['last_message']['from_id']
        text = messages['items'][0]['last_message']['text']
        if len(text.split(',')) == 4:
            b = text.split(',')
            c = []
            for i in range(0, 4):
                c.append(float(b[i]))
            result = clf.predict([c])
            if result == 1:
                ans = 'Setosa'
            elif result == 2:
                ans = 'Versicolor'
            else:
                ans = 'Virginica'
            vk.method('messages.send', {'peer_id':id, 'random_id':0, 'message': ans})
        else:
            vk.method('messages.send', {'peer_id':id, 'random_id':0, 'message': 'ERROR'})